.form-control {
    font-size: 0.9rem;
}

.btn {
    --bs-btn-font-size: 0.9rem;
    margin-left: 0.6rem;
}

a {
    text-decoration: none;
}

span {
    font-weight: 700;
    font-size: 0.9rem;
    margin-left: 0rem;
}

.row>a {
    width: 20%;
    height: 50%;
}

.row>div {
    width: 50%;
}

.row>form {
    width: 50%;
}

h5 {
    margin-left: 0.6rem;
}

p {
    font-size: 0.9rem;
}

.login {
    background-color: rgb(131, 131, 131);
}

.icon {
    height: 3rem;
    width: 3rem;
}

.d-icon {
    position: relative;
    top: -1.5rem;
}

span.input-group-text {
    margin: 0;
}

.mess {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.sign_in {
    padding-bottom: 4rem!important;
}

i::before {
    font-size: 1.5rem;
}

.logo {
    width: 40rem;
}

h3 {
    font-weight: 400;
    display: inline;
}

.nav-link {
    font-weight: 700;
    font-size: 0.9rem;
    color: rgb(169, 169, 169);
}

.active {
    color: black;
}

.notification {
    position: fixed;
    top: 100px;
    right: 20px;
    width: 300px;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    display: none;
    z-index: 9999;
    animation:slideInLeft ease .3s,fadeOut linear 1s 3s forwards;
  }
  
  .success {
    background-color: #00cc00;
  }
  
  .error {
    background-color: #ff0000;
  }
  
  .warning {
    background-color: #c5c507;
  }
  .infor{
    background-color: #007bff;
  }
  .close-button {
    cursor: pointer;
    float: right;
    font-weight: bold;
  }
  .notification-hidden {
    opacity: 0;
  }
  .bi::before, [class^="bi-"]::before, [class*=" bi-"]::before{
    vertical-align:auto;
  }
  @keyframes slideInLeft{
    from{
      opacity:0;
      transform: translateX(calc(100% + 32px));
    }
    to {
      opacity:1;
      transform: translateX(0);
    }
  }
  @keyframes fadeOut{
    to{
      opacity: 0;
    }
  }
  .height-infor{
    height:397px;
  }